

h1 {
    text-align: center;
    margin-top: 2rem;
}

#cantidadDeseada .btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;   
  height: 30px;
}

#cantidadDeseada i {
  font-size: 30px;     
  color: black;         
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: white;
  outline: none !important;
  box-shadow: none !important;
  opacity: 0.8;
}

#cantidadDeseada .form-control { 
    margin: 0; border: none; 
    background: none; 
    box-shadow: none; 
    color: black; 
    font-size: 25px; }

#cantidadDeseada i:hover {
  transform: scale(1.1);  
}

.btn.btn-danger.btn-sm {
    margin: 0 !important;
    font-size: 17px;
}

/*

@media (max-width: 767px) {

  .cart-item > .col-md-2.text-center:last-child {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center; /
  }
}

*/

/*-------Modo Dark-------*/

body.dark-mode #cantidadDeseada i.bi {
  background-color: rgb(0, 0, 0) !important;
  color: white !important; 
}

body.dark-mode #cantidadDeseada .form-control {
    color: white;
}

