@media (max-width: 700px) {
  .register-box {
    flex-direction: column;
  }
  .register-welcome-side {
    order: -1;
    border-radius: 14px 14px 0 0;
    min-height: 180px;
  }
  .register-form-side {
    order: 0;
  }
}
