.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  #boton {
  width: 50%;
}
}

@media (min-width: 1366px) {
  .
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


.sectorIS {
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    height: auto;
    margin: 25px;
    background-color: rgba(255, 248, 240, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
    object-fit: cover;
    padding-top: 1px;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}
.sectorIS:hover {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 215, 166, 0.7);
}

.sectorIS label {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: rgb(0, 214, 203);
    color: white;
    padding: 17px 17px;
    font-size: 20px;
    border: 3px rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color: #0064c2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:hover {
    border-color: rgb(0, 0, 0);
}

.alerta {
    display: none; 
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10px;
}
.alerta p {
  margin-bottom: 10px;
}

hr {
  margin: 20px 0; 
  height: 2px;
  border: none;
  background-color: #001e3f;
}

.registro {
  border: 1px solid black;
    padding: 20px;
    width: 400px;
    height: auto;
    margin: 25px;
    background-color: rgba(255, 248, 240, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
    object-fit: cover;
    padding-top: 1px;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}
.registro:hover {
  transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 215, 166, 0.7);
}

.registro label {
  font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card {
  border-radius: 20px;    
  overflow: hidden;    
  border: none;
}

.card img {
  border-radius: 20px;
  border: 0;              
  box-shadow: 7px 7px 8px rgba(131, 131, 131, 0.3);
}

#boton {
  width: 15%;
  margin: 0 auto;
  margin-top: 5rem;
}

.py-5 {
  padding-top: 7rem !important;
}

#dropdownMenuLink{
  background-color: #212529 !important;
  border: none;
  color: rgba(255, 255, 255, .55);
}

#dropdownMenuLink:hover, #dropdownMenuLink:active, #dropdownMenuLink:focus {
  color:white;
   box-shadow: none !important;  
}

#logo_jap {
  width: 20%;
  height: auto;
  display: block;
  margin-left: 0;   
}

#ver-mas:hover img {
  filter: brightness(0) invert(1); 
}

.col-md-3 {
  transition: all 0.3s ease; 
  border-radius: 20px; 
}

.col-md-3:hover {
  transform: scale(1.05);
  filter: brightness(0.95);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card:hover::after {
  background: rgba(0, 0, 0, 0.1);
}

