/* Footer */
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  padding: 0 0 10px 0;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  background: transparent;
  z-index: 100;
}

.footer-left {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
}

.footer-text {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
}

.footer-right {
  text-align: right;
  margin-right: 40px;
}

#logo_jap {
  width: 100px;
  height: auto;
}

#logo_jap {
  height: 80px;
  width: auto;
  max-width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
}

@media (max-width: 600px) {
  .footer-flex {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 10px 0;
  }

  .footer-left {
    margin-left: 10px;
  }

  .footer-right {
    width: 100%;
    text-align: left;
    margin: 10px 0 0 10px;
  }

  #logo_jap {
    height: 80px;
  }
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

#boton,
#vender {
  width: 35%;
  margin: 0 auto;
  margin-top: 5rem;
}

/* Navbar */

.navbar-nav a {
  padding-inline: 2rem
}

nav.navbar a.nav-link,
nav.navbar .dropdown-toggle {
  text-decoration: none;
}

nav.navbar {
  padding: 0 !important;
}

@media (max-width:991.98px) {
  nav.navbar .navbar-nav {
    flex-direction: column !important;
    width: 100%;
    align-items: flex-start !important;
  }

  .navbar-nav a {
    padding-inline: 0rem
  }

  nav.navbar nav-item {
    width: 100%;
  }

  nav.navbar .dropdown-menu {
    width: 100%;
  }

}

/* Navbar Cantidad de productos */

#cantidad-agregada {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cantidad {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: white;
}



/* Manoo like */
#mano-like {
  margin-top: -2px !important;
  margin-left: 10px !important;
  position: absolute;
}


/* Icon Menú Query */

.navbar-toggler {
  margin-top: 1rem;
  border: none;
}

/*  Buscador  */
#buscador {
  width: 20%;
  border-radius: 30px;
  margin-top: 1rem;
}


@media (max-width: 991px) {
  #buscador {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  #boton,
  #vender {
    width: 20%;
  }

  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

}

@media (min-width: 1366px) {
  .footer-text {
    font-size: 2rem;
    color: #000;
    font-weight: 700;
    margin-left: 10px;
  }

  #boton,
  #vender {
    width: 15%;
  }

}



.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;

}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}




button {
  background-color: rgb(0, 214, 203);
  color: white;
  width: 17px 17px;
  font-size: 20px;
  border: 3px rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0064c2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:hover {
  border-color: rgb(0, 0, 0);
}

.alerta {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.alerta p {
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
  height: 2px;
  border: none;
  background-color: #001e3f;
}



/* boton vender */

#vender {
  font-size: 1rem;
  padding: .375rem .75rem;
  border-radius: 30px;
  color: #212529;
  border-color: #212529;
  background-color: #fff;
}

#vender:hover {
  background-color: #212529;
  color: #fff;
}


/* info de productos en cel y tablet */
.tooltip-cel {
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 0, 80rem;
  background-color: rgba(83, 83, 83, 0.8);
  color: white;
  text-align: center;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}



/* boton vender */

#vender {
  display: block;
  margin: 20px auto;
  font-size: 1rem;
  padding: .375rem .75rem;
  border-radius: 30px;
  color: #212529;
  border-color: #212529;
  background-color: #fff;
}

#vender:hover {
  background-color: #212529;
  color: #fff;
}

/*  Productos  */

button.btn-dark.mt-auto {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body .btn {
  align-self: flex-end;
}

/*  inicio sesion name */

#inicio-sesion {
  padding-left: 0;
}



/*  Products  */


/* H2 de containers */

.my-4 {
  margin-bottom: 4rem !important;
}


/*filtros de precios */


.Filtros {
  margin-top: -3rem;
  border-radius: 5px;
  padding: 15px;
  gap: 7px;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.orden {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  color: black;
  gap: 7px;
}

.orden button {
  background-color: rgb(216, 216, 216);
  border: 1px solid rgb(112, 112, 112);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  border: black;
}

.orden button:hover {
  background-color: rgb(100, 100, 100);
}

.orden-ascendente,
.orden-descentende {
  margin: 0;
}

.filtro-precio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 1.5rem;
}

.filtro-precio label {
  margin: 0;
  font-weight: bold;
  min-width: 50px;
  color: rgb(94, 94, 94);
}

.filtro-precio input {
  margin: 0;
  border-radius: 4px;
  width: 100px;
  padding: 10px;
  border: 1px solid rgb(145, 145, 145);
}

#filtro {
  color: black;
  background-color: rgb(231, 231, 231);
  margin: 0;
}

#filtro:hover {
  background-color: rgb(170, 170, 170);
}

#limpiar {
  margin: 0;
}

#limpiar:hover {
  color: blue;
}

@media (max-width: 600px) {
  .filtro-precio {
    flex-direction: column;
    align-items: stretch; /* que cada elemento ocupe todo el ancho */
    gap: 8px; /* separación entre elementos */
  }

  .filtro-precio label,
  .filtro-precio input,
  .filtro-precio button,
  .filtro-precio a {
    width: 100%; /* ocupan todo el ancho disponible */
    text-align: center; /* centrado opcional para los botones y link */
  }

  .filtro-precio input {
    box-sizing: border-box; /* para que padding no rompa el ancho */
  }
}


:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

/* Tema oscuro */
.dark-mode {
  --bg-color: #121212;
  --text-color: #f5f5f5;
}